<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="above">        
            <span class="title">Bumlog</span>
            <ul class="above-ul">
                <li><a href="">Home</a></li>
                <li><a href="index.html">About</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Blabla</a></li>
            </ul>
        </div>
    </div>
    <div class="catagory">
        <ul>
            <li>About Me</li>
            <li>창업일기</li>
            <li>끄적끄적</li>
            <li>여행</li>
        </ul>
    </div>
</body>
</html>