body, ul, li, a, span, nav, h2, h5, h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/**/


.wrapper {
    background-image: url(../images/profile_bum.JPG);
    background-size: cover;
    background-position: center;
    padding-bottom: 56%;
}


.navbar {
    float: left;
    background-image: url(../images/navbar3.png);
    background-size: cover;
    width: 100px;
    height: 71px;
    
}


.title {

    margin-left: 0;
    margin-right: 0;
    font-size: 90px;
    color: white; 
}


.above {
    
    font-family: 'Calistoga', cursive;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.catagory{

}

.catagory-nav {
    margin-top: 2rem;
    margin-left: 2rem;
}

.catagory-nav ul li {
    margin: 1rem 0px;   
}

.catagory-nav ul li a {
    color: black;
}

.catagory-nav ul li a:hover {
    background-color: #3399ff;
    color: white;
}

.content {
    float: left;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    border-bottom: 0.05rem solid #3399ff;
}

.content {
    color:black;
}

.content-a {
    color: inherit;
}

.content:hover {
    background-color: #3399ff;
    color: white ;
}



.content-a h2, h6 {
    margin: 1rem 0;
}



