<div class="wrapper"></div>
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <a href="#" class="logo">Bumlog</a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="/" class="nav-links">Home</a>
        </li>
        <li>
            <a href="#" class="nav-links">About Me</a>
        </li>
        <li>
            <a href="#" class="nav-links">창업</a>
        </li>
        <li>
            <a href="#" class="nav-links">끄적끄적</a>
        </li>
        <li>
            <a href="#" class="nav-links">여행</a>
        </li>
    </ul>
  </nav>