/* Animation */
@keyframes rolling {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-16%);
    }
    40% {
        transform: translateY(-33%);
    }
    60% {
        transform: translateY(-50%);
    }
    80% {
        transform: translateY(-66%);
    }
    100% {
        transform: translateY(-83%);
    }
}

/* CSS Reset */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100%;
    font-weight: normal;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}



body {
    background-color: #111;
    color: #999;
}

.portrait {
    background-image: url(images/profile_bum.JPG);
    background-size: cover;
    background-position: center;
    padding-top: 56.25% /* 16:9 */
}

.profile {
    padding: 7%;
}

.profile-header, .profile-section {
    padding-bottom: 7%;
}

.name {
    font-size: 30px;
    line-height: 1.3;
    font-style: italic;
    margin-bottom: 40px;
    font-family: 'Calistoga', cursive;
}


.name-adj {
    display: inline-block;
    vertical-align: top;
    height: 1.3em;
    overflow: hidden;
    padding-right: 0.5em;
    position: relative;
}

.name-adj::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: -1em;
    box-shadow: inset 0 0 5px 4px #111;
}

.name-adj-list {
    animation-name: rolling;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    padding-left: 0.4em;
    color: white;
  
}

.name-title {
    font-size: 1.8em;
    color: khaki;
    line-height: 1.5;
    margin-left: -0.3em;
    
}

span {
    
}

.icons {
    margin-top: 20px;
}
/***
.icons a {
    background-image: url(images/icon.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;  } ***/



.icons a.facebook {
    background-image: url(images/icons.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    background-position: center top;

}
.icons a.instagram {
    background-image: url(images/instalogo.png  );
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    background-position: center;

}

.icons a.instagram:hover {
    background-image: url(images/instahover.png  );
}
.icons a.facebook:hover {
    background-image: url(images/123.png);
    background-position: center;
}








