<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/board.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
  </head>
  <header>
    <%- include ('partials/header.ejs') %>
  </header>
  <body>
    
        
   
  </body>
</html>