<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  </head>
  <body>
    <header>
      <%- include ('partials/header.ejs') %>
    </header>
    <p>1  </p>
  </body>
</html>