<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <div class="above">        
        <span class="title">Bumlog</span>
          <ul class="above-ul">
                <li><a href="/">Home</a></li>
                <li><a href="index.html">About</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Blabla</a></li>
          </ul>
      </div>
    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/board/write" method="post">
      제목 : <input type="text" name="title"><br>
      부제목 : <textarea name="subtitle"></textarea><br>
      내용 : <textarea name="contents"></textarea><br>
      글쓴이 : <input type="text" name="author"><br>
      <input type="submit" value="확인">
    </form>
  </body>
</html>